<main>
  <article class="teams-container">
    <section>
      <div>
        <div>
          <h2>Liga</h2>
        </div>
        <div>
          <h2>Equipo</h2>
          <img src="" alt="" />
        </div>
      </div>
    </section>
    <div>
      <h1>VS</h1>
    </div>
    <section>
      <div>
        <div>
          <h2>Liga</h2>
        </div>
        <div>
          <h2>Equipo</h2>
          <img src="" alt="" />
        </div>
      </div>
    </section>
  </article>
  <h4>© 2025 Murasaki Development</h4>
</main>
