<main>
  <section class="splash-screen">
    <img src="/assets/foto-carlos.png" alt="Purple Man" class="img-splash" />
    <div class="designer-container">
      <img src="/assets/fabi.png" class="designer-img" />
      <h5 class="normal-text">| Official Designer</h5>
    </div>
    <div class="text-container">
      <img
        src="/assets/letras-mura.png"
        width="400"
        height="400"
        alt="Purple Man"
      />
      <h3 class="subtitle">
        <a routerLink="/navigation-menu">Click to discover</a>
      </h3>
    </div>
    <h4>© 2025 Murasaki Development</h4>
  </section>
</main>
